   * { margin: 0; padding: 0; border-collapse: collapse;}
 
  body {
   background-image: url(../IMG/21967857-forest-6578551_1920.jpg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 6px #000;
}

#main-container {
    display: flex;
    gap: 40px;
    width: 900px;
    min-height: 420px;
}

#left-panel {
   color: #ffffff;
   background-color:  #979191;
    border-radius: 20px;
    padding: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

#right-panel {
    background-color: #979191;
    border-radius: 20px;
    padding: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

#imagen {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    object-fit: contain;
}

#palabra {
    background: white;
    color: #333;
    font-size: 28px;
    font-weight: bold;
    padding: 12px;
    width: 240px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 5px;
}

#letra {
    width: 70px;
    height: 35px;
    font-size: 22px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 6px;
}

#boton {
    padding: 8px 15px;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

#boton:hover {
    background: #04004a;
}

#right-panel h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
}

#lista_letras {
    width: 80%;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #fffcfc;
    text-align: center;
}

#final-ganar,
#final-perder {
    position: fixed;
    width: 350px;
    height: 220px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -110px;
    background: rgb(67, 48, 48);
    border-radius: 20px;
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

#final-ganar h2 {
    color: #2e7d32;
}

#final-perder h2 {
    color: #ff0000;
}

#solucion {
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;

}

#boton-ganar,
#boton-perder {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

#final-ganar,
#final-perder {
    position: fixed;
    width: 350px;
    height: 330px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -165px;
    background: #333;
    border-radius: 20px;
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.imagen-final {
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin: 0%;
    display: block;
    margin-inline: auto;
}
